AUTH_TRUST_HOST=true
DATABASE_URL=postgres://postgres@localhost:5432/v4_prototype_editor
AUTH_SECRET=Mqpiz0moadHUQDPD/AMC4wmGtRFiRsF/0KyNpYwLlcA=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

RESEND_API_KEY=

UPLOADTHING_TOKEN=

NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=


