AUTH_TRUST_HOST=true
DATABASE_URL=postgresql://neondb_owner:npg_O6bZTBzfvky9@ep-quiet-mouse-a1f4ff1u-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AUTH_SECRET=Mqpiz0moadHUQDPD/AMC4wmGtRFiRsF/0KyNpYwLlcA=

AUTH_GITHUB_ID=Ov23liKQxEKL8YutKDpe
AUTH_GITHUB_SECRET=5dca0d8bbb35ab3d270713d5fe39843742b6fa5b

# AUTH_GOOGLE_ID=1075780125841-hoba71fdm25r6it57std66ncuk7p90bu.apps.googleusercontent.com
# AUTH_GOOGLE_SECRET=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

RESEND_API_KEY=re_M44YL52j_5x5jWd8LRVSTWyHn7oxxsG2M

UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzBlODU3YTk0ZjhkZGFmMmI3NzMxYzYzNjkyMTZhY2MxNTJhNjIyZDczNTEzOTM3MGU3MTQwNWUwZTcyMzUxZWUiLCJhcHBJZCI6IjAwZWpyaDhlNDMiLCJyZWdpb25zIjpbInNlYTEiXX0='

GNEWS_API_KEY=74ad7360c5922d9450b5178b4225e195

NEXT_PUBLIC_VAPID_PUBLIC_KEY=BMhDLVt4k106rPN2HdjkFxwASFNwjQL-lfZAtXp3QoU3unetBbdO7FOaBzXdF5j95aC86b3lZit1suc2V2bHims
VAPID_PRIVATE_KEY=HZIldJVvOx7MXx_PNhfp3JrtWm5nfV6UaJSK-TkgVic
VAPID_SUBJECT=mailto:tda@thedarkartist.in

